@charset "utf-8";
@import 'main.css';
@import 'login.css';
@import 'popup.css';
@import 'winPopup.css';

@font-face {
    font-family: 'Noto Sans Light';
    font-style: normal;
    font-weight: 400;
    src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot);
    src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Light-Hestia.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans DemLight';
    font-style: normal;
    font-weight: 400;
    src: url(./font/notoSans/eot/NotoSansKR-DemiLight-Hestia.eot);
    src: url(./font/notoSans/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-DemiLight-Hestia.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot);
    src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans Medium';
    font-style: normal;
    font-weight: 400;
    src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot);
    src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format("woff");
}

/* reset */
html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary{margin:0;padding:0;border:0;font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}/* HTML5 display-role reset for older browsers */
body,html{width: 100%;height: 100%;}ol, ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
img{border: none;}
a{text-decoration: none;color: inherit;}
address{font-style: normal;}
button{display: inline-block;border: none;background-color: transparent;cursor: pointer;}
input,button,a,select,option{font-family:inherit;font-size:inherit;}
input[type="checkbox"]{border: none !important;}/* for lte IE10 */
input[type="radio"]{border: none !important;}/* for lte IE10 */
input[type="text"]::-ms-clear {display:none;}
button:focus{outline:none;}
caption,hr{display:none;}
pre{word-break:break-all;white-space:pre-line;}

/* default */
body,html{font-family:'Noto Sans DemLight', "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;font-size:13px;color: #333;letter-spacing:-0.045em !important;}
.clearFix:after{content: "";display: block;clear: both;}
.hidden{display:block;margin: 0;padding: 0;width: 0;height: 0;overflow: hidden;font-size: 0;line-height: 0;visibility: hidden;}
.txt-center{text-align:center;}
.pos-r{position:relative;}
.va-t{vertical-align: top;}
.inner{width:1620px;margin:0 auto;}
.left{float:left;}
#warp{height:100%;}

/* Accessibility Navigation */
.accNav {position:absolute; top:0; left:0; z-index:500; width:100%; height:0;}
.accNav a {display:block; position:absolute; left:0; top:0; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#fff; white-space:nowrap; font-size:0.75em;}
.accNav a:focus,
.accNav a:hover,
.accNav a:active {z-index:1000; width:100%; height:auto; padding:5px 0; background:#ffc000; color:#4A2713; font-weight:700;}

/* header & gnb */
#header{width:100%;height:83px;background:#3c5ed2 url("../images/common/bg-circle.png") no-repeat left -465px;}
#header.active{background: #1d3080;}
#header.active:after{content: "";position:relative;display: block;clear:both;width:100%;height:62px;background: #1d3080;z-index:10;}
#header h1{position: absolute;top:30px;left:0;}

/* gnb 1뎁스 */
#header .gnb{float:left;margin-left:800px;font-size:18px;}
#header .gnb a{color:#fff;}
#header .gnb>ul{float:left;}
#header .gnb>ul>li{float:left;width:155px;height:83px;line-height:83px;text-align: center;font-size:18px;}
#header .gnb>ul>li.active:after,
#header .gnb>ul>li:focus:after{
    content: "";display: block;width:80px;height:3px;margin:-3px auto 0;background: #ff900c;
    animation-name: menuBar;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}
@keyframes menuBar {
    0%{width:0;}
    100%{width:80px}
}

/* gnb 2뎁스 */
#header .gnb li div{position: absolute;z-index:20;bottom:-145px;left:50%;width:1200px;height:62px;margin-left:-500px;line-height:62px;}
#header .gnb li:nth-child(1) div{width:1200px;margin-left:-505px;}
#header .gnb li:nth-child(2) div{width:1200px;margin-left:-406px;}
#header .gnb li:nth-child(3) div{width:500px;margin-left:129px;}
#header .gnb li:nth-child(4) div{width:300px;margin-left:385px;}
#header .gnb li div:after{content: "";display: block;clear:both;}
#header .gnb li div li{display: inline-block;margin:0 20px;font-size:16px;}
#header .gnb li div li a{color:#c0c7de;font-family: 'Noto Sans Light';}
#header .gnb li div li a:hover{color:#fff;}

/* gnb util 메뉴 */
#header .util{float:left;height:83px;line-height:83px;font-size:14px;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
#header .util a{display: inline-block;height:29px;margin-left:10px;line-height:27px;border-radius:15px;text-align: center;color:#fff;}
#header .util a:first-child{margin-left:0;}
#header .util a.btnSkyblue{min-width:82px;background:#21b0ce;}
#header .util a.btndeepBlue{min-width:92px;background:#2b49af;}

/* 브레드크럼 */
.breadcrumb{width:100%;height:42px;background:#f1f3f9;border-bottom:1px solid #ebedf1;}
.breadcrumb .box{float:right;height:42px;border-right:1px solid #e0e3ed;text-indent:14px;}
.breadcrumb .box>div{float:left;width:150px;height:42px;border-left:1px solid #e0e3ed;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.breadcrumb .box>div.btnHome{width:49px;height:100%;}
.breadcrumb .box>div.btnHome a{display:block;height:100%;background:url('../images/common/ico-home.png') no-repeat center  center;}
.breadcrumb .box>div.menuName span{
    display: block;width:100%;height:100%;line-height:41px;color:#787878;
    background: url("../images/common/ico-arrowDown.png") no-repeat 90% center;
}
.breadcrumb .box>div.menuName.active span,
.breadcrumb .box>div.menuName:hover span{
    color:#3055b2;font-weight:bold;
    background: url("../images/common/ico-arrowDown-active.png") no-repeat 90% center;
}
.breadcrumb .box>div ul{width:100%;padding:10px 0 10px;background:#fff;border:1px solid #d2d5de;box-sizing: border-box;}
.breadcrumb .box>div li{height:31px;line-height:31px;}
.breadcrumb .box>div li:hover{color:#294fc3;}

/* container */
#container{clear:both;width:1620px;height:100%;margin:0 auto -17px;}
#container:after{content: "";display: block;clear:both;}

/* Content */
#content{float:left;width:1368px;margin-left:41px;padding:50px 0 100px;}

/* local navigtion */
#lnb{float:left;width:209px;height:100%;margin-top:-17px;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;box-sizing: border-box;}
#lnb .localName{position:relative;height:121px;background: url("../images/lnb/bg-lnb.png") no-repeat center;background-size:cover;}
#lnb .localName span{position: absolute;top:65px;right:22px;font-family: 'Noto Sans Medium';font-size:26px;color:#fff;}
#lnb .lnbMenu{border-bottom:1px solid #e5e5e5;}
#lnb .lnbMenu>li{
    line-height:56px;text-indent:22px;color:#686868;font-size:16px;border-top:1px solid #e5e5e5;
    background: url("../images/lnb/ico-arrow-r-ight.svg") no-repeat 180px 23px;
}
#lnb .lnbMenu>li:hover,
#lnb .lnbMenu>li.active{
    color:#294fc3;
    background: url("../images/lnb/ico-arrow-right-active.svg") no-repeat 180px 23px;
}
#lnb .lnbMenu>li.innerMenu{background: url("../images/lnb/ico-plus.svg") no-repeat 175px 22px;}
#lnb .lnbMenu>li.innerMenu:hover,
#lnb .lnbMenu>li.innerMenu.active{background: url("../images/lnb/ico-minus.svg") no-repeat 175px 29px;}
#lnb .lnbMenu>li:first-child{border-top:0;}
#lnb .lnbMenu div{padding:15px 0;background: #f4f6f8;font-size:14px;color:#757575;line-height:30px;border-top:1px solid #e5e5e5;}
#lnb .lnbMenu div li:hover,
#lnb .lnbMenu div li.active{color:#294fc3;}
#lnb .lnbMenu div li:before{content: "";display: inline-block;width:3px;height:3px;margin:-3px 7px 0 0;background-radius:50%;vertical-align:middle;background: #7b7d86;}

/* Footer */
#footer{clear:both;width:100%;padding:17px 0 87px;background:#4b535f;}
#footer:after{content: "";display: block;clear: both;}
#footer address{display: inline-block;margin-right:20px;}
#footer a{margin-right:20px;}
#footer .logo{float:left;margin-right:57px;}
#footer .logo + div{float:left;padding:6px 0 0;color:#7f8389;}
#footer .copyright{margin-top:5px;}

/* Common */
section.column{float:left;margin-left:32px;}
section.column:first-child{margin-left:0;}
.titPage{
    margin-bottom:20px;padding-left:30px;color:#000000;font-size:26px;font-family: "Noto Sans Medium";
    background: url("../images/bullet/bullet-circle.png") no-repeat left 10px;
}
.box{margin-top:30px;}
.box:first-child{margin-top:0;}
.box.request .titleArea {margin-top: 12px;}
.box.request table th:first-child::after {content: ""; display: inline-block; width: 5px; height: 5px; margin: 0px 0px 3px 5px; background: #eb5050; vertical-align: middle; border-radius: 50%;}
.box.request table .redDot {margin: 0px 0px 3px 5px;}
.box.result .titleArea {margin-top: 40px;}
.box.rule .titleArea {margin-top: 45px;}
.box.rule .table.txtLeft th {padding-left: 40px;}

/* searchBox */
.searchBox{padding:20px 0 13px;border:1px solid #c8cdd5;background: #f4f6f8;border-radius:5px;}
.searchBox:after{}
.searchBox .row{margin-top:13px;padding:0 40px 0 10px;}
.searchBox .row:first-child{margin-top:0;}
.searchBox .row:after{content: "";display: block;clear:both;}
.searchBox .column{position:relative;float:left;width:50%;}
.searchBox label{float:left;width:115px;height:38px;line-height:38px;text-align: right;padding-right:8px;font-size:13px;color:#686868;font-family: "맑은 고딕";font-weight:bold;}
.searchBox input[type="text"],
.searchBox select{float:left;width:calc(100% - 123px);height:38px;box-sizing:border-box;border:1px solid #cdd2d9;}
.searchBox input[type="text"].cal{background:#fff url("../images/icon/ico-cal.png") no-repeat 95% center;}
.searchBox input[type="text"]:focus.cal{background:#fff url("../images/icon/ico-cal-active.png") no-repeat 95% center;}
.searchBox input[type="text"].cal + .btnTerm{margin-left:10px;}
.searchBox .column .icoQ{position:absolute;top:7px;right:-30px;width:24px;height:24px;background: url("../images/icon/ico-question.png") no-repeat;}
.searchBox .column .icoQ .desc{
    display:block;position:relative;top:30px;bottom:-10px;padding:10px 15px 12px;min-width:200px;height:auto;background:#222;opacity:0.92;color:#dfdfdf;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;
    border-radius:3px;font-size:12px;line-height:21px;
}
.searchBox .btnSearch{margin-top:17px;padding-top:10px;border-top:1px solid #dce1e8;text-align: center;}
.searchBox .btnSearch button{display: inline-block;width:141px;height:39px;color:#fff;background:#5b5b5b;font-size:14px;border-radius:3px;}
.searchBox .btnTerm{width:56px;height:38px;margin-left:5px;border:1px solid #d9dcde;background: #fbfcfd;}
.searchBox .btnTerm:focus,
.searchBox .btnTerm:active{color:#294fc3;border:1px solid #7b98ed;}

/* searchBox 타입2 */
.searchBox.type2{padding:26px 0;}
.searchBox.type2:after{content: "";display: block;clear:both;}
.searchBox.type2 .left{float:left;width:calc(100% - 100px);}
.searchBox.type2 .row{margin-top:20px;padding:0 0 0 10px;}
.searchBox.type2 .row:first-child{margin-top:0;}
.searchBox.type2 .col{float:left;width:33.33%;}
.searchBox.type2 .colspan2{float:left;width:66.66%;}
.searchBox.type2 .row.col4 .col{width:25%;}
.searchBox.type2 .row.col4 .colspan3{float:left;width:75%;}
.searchBox.type2 label{width:85px;}
.searchBox.type2 input[type="text"],
.searchBox.type2 select{width:calc(100% - 100px)}
.searchBox.type2 .btnSearch{margin-top:0;padding-top:0;border:0;float:left;width:84px;}
.searchBox.type2 .btnSearch button{width:77px;height:39px;}
.searchBox.type2.wide .left{width:calc(100% - 171px);}
.searchBox + .titleArea{margin-top:34px;}


/* h4 소제목 */
h4{font-size:18px;color:#333333;font-weight: normal;font-family: "Noto Sans"}
h4:before{content: "";display: inline-block;width:8px;height:8px;margin:-5px 5px 0 0;background: #3456cc;border-radius:50%;vertical-align: middle;}
.titleArea{position: relative;}
.titleArea h4{float:left;font-size: 20px; padding-left: 13px;}
.titleArea h4::before {margin: -5px 8px 0 0;}
.titleArea h4 strong { color: #4067de;}
.titleArea .titMeta{float:left;line-height:26px;color:#585858;font-size:14px;font-weight:bold;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.titleArea .meta{float:left;height:26px;margin-left:10px;padding:0 5px;background: #ebf0fc;border-radius:13px;line-height:26px;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.titleArea .meta .col{position:relative;display:inline-block;padding:0 6px;font-size:14px;color:#2853d5;text-align: center;font-weight:bold;}
.titleArea .meta .col:before{content: "";position:absolute;top:8px;left:0;display:block;width:1px;height:11px;background: #adb1bb;}
.titleArea .meta .col:first-child:before{display: none;}
.titleArea .meta .col span{float:left;margin-right:3px;font-size:13px;color:#333333;}
.titleArea .meta .col em{float:left;margin-right:3px;font-style: normal;}
.titleArea + .table{margin-top:10px;}
.titleArea + .searchBox{margin-top:9px;}
.titleArea + .mScrollxy{margin-top:9px;}

/* 테이블 */
.table{border-top:1px solid #888ea0;}
.table.txtLeft th{text-align: left;padding-left:35px;}
.table.txtLeft.pd th{text-align: left;padding-left:35px;}
.table.txtLeft td{text-align: left;}
.table.txtLeft table input[type="text"] {float: left; width: 205px; height: 38px; box-sizing: border-box; border: 1px solid #cdd2d9;}
.table.txtLeft table input.important {width: 183px;}
.table.txtLeft table textarea{width: 100%; height: 112px; border: 1px solid #cdd2d9;resize: none;}
.table.txtLeft td.explain {padding: 13px;}
.table.txtLeft {margin-bottom: 30px;}

.table table{width: 100%;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.table table th{height:30px;padding:5px 10px;background: #f4f5f8;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;font-family: '맑은 고딕'; font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal; line-height: 2.93;letter-spacing: -0.56px;text-align: center;color: #686868;}
.table table td{height:30px;padding:5px 10px;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.table table th, .table table td{text-align: center;}
.table table th:first-child,
.table table td:first-child{border-left:0;}
.table table select {float: left; width: 300px; height: 38px; box-sizing: border-box; border: 1px solid #cdd2d9;}
.table table input[type="text"] {float: left; width: 300px; height: 38px; box-sizing: border-box; border: 1px solid #cdd2d9;}
.table.hover table tr:hover td{background: #f3f6fc;}
.table th .redDot{margin-left:-10px;}
.table+.tab, .table+.tabContWarp{margin-top:30px;}





/* 스크롤 커스텀 */
.table.mScroll{height:162px;}
.mScroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;background: #99a0a6;}
.mScroll .mCSB_scrollTools .mCSB_draggerRail{background:none;}
.mScroll .mCSB_inside > .mCSB_container{margin-right:0;}
.mScroll .mCSB_scrollTools{width:8px;}
.mScrollxy .mCSB_container_wrapper{margin-right:0;margin-bottom: 0px;}
.mScrollxy .mCSB_scrollTools{width:8px;}
.mScrollxy .mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{width:auto;}
.mScrollxy .mCSB_scrollTools.mCSB_scrollTools_horizontal{height:8px;}
.mScrollxy .mCSB_container_wrapper > .mCSB_container{padding-right:0;}
.mScrollxy .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;background: #99a0a6;}
.mScrollxy .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{width:auto;height:8px;margin:0 auto;background: #99a0a6;}
.mScrollxy .mCSB_scrollTools .mCSB_draggerRail{background:none;}
.mScrollxy.borderTop{border-top:1px solid #888ea0;}
.mScrollxy.borderTop .table{border-top:0;}

    /* 탭 콘텐츠 */
.tab li{position:relative;float:left;width:33.33%;height:52px;text-align: center;border:1px solid #c8cdd5;margin-left:-1px;font-size:16px;color:#686868;box-sizing: border-box;line-height:20px;}
.tab li span{position: absolute;display:block;width:100%;top:50%;left:50%;transform:translate(-50%, -50%);}
.tab li:first-child{margin-left:0;}
.tab li:hover,
.tab li.active{border:1px solid #4067de;background: #4067de;color:#fff;}
.tab.col8 li{width:12.5%;}
.tab.col9 li{width:11.11%;}
.tabContArea{margin-top:26px;}
.tabContArea .tabContArea{margin-top:15px;}

/* 라인박스 */
.border{margin-top:22px;border:1px solid #b4b7c0;padding:8px;}
.border:after{content:"";display: block;clear: both;}
.border .col{float:left;width:49%;}
.border .col{margin-left:2%;}
.border .col:first-child{margin-left:0;}

/* 인풋 정렬 */
.input:after{content: "";display: block;clear: both;}
.input li{float:left;margin-right:35px;height:32px;line-height:28px;vertical-align:top;}

/* 인풋 라디오 */
.radio{display: inline-block;width:24px;height:24px;vertical-align: middle;}
.radio label{display: inline-block;width:24px;height:24px;background: url("../images/input/bg-radio.png") no-repeat;}
.radio input[type="radio"]{margin-right:5px;}
.radio input[type="radio"]:checked+label{background: url("../images/input/bg-radio-active.png") no-repeat;}
.radio + p{display:inline-block;height:24px;font-size:14px;vertical-align:middle;margin-top:-5px;color:#585858;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}

/* 인풋 체크박스 */
.checkbox{display: inline-block;width:20px;height:20px;vertical-align: middle;}
.checkbox label{display: inline-block;width:20px;height:20px;background: url("../images/input/bg-checkbox.png") no-repeat;}
.checkbox input[type="checkbox"]{margin-right:5px;}
.checkbox input[type="checkbox"]:checked+label{background: url("../images/input/bg-checkbox-active.png") no-repeat;}
.checkbox + p{display:inline-block;height:20px;font-size:14px;vertical-align:middle;margin-top:-5px;color:#585858;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}

/* 추가/삭제 버튼 */
.btnCont{position: absolute;top:0;right:0;}
.btnCont button{display: inline-block;height:30px;margin:0 2px;padding:0 7px 0 25px;border:1px solid #afb1b8;box-sizing: border-box;font-size:16px;border:1px solid #afb1b8;border-radius:3px;line-height:28px;font-size:13px;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.btnCont button:hover{border:1px solid #4067de;color:#2853d5;}
.btnCont .btnAdd{background: url("../images/btn/ico-plus.png") no-repeat 10px center;}
.btnCont .btnAdd:hover{background: url("../images/btn/ico-plus-active.png") no-repeat 10px center;}
.btnCont .btnDel{background: url("../images/btn/ico-del.png") no-repeat 8px center;}
.btnCont .btnDel:hover{background: url("../images/btn/ico-del-hover.png") no-repeat 8px center;}
.btnCont .btnExel{background: url("../images/btn/ico-exel.png") no-repeat 8px center;}
.btnCont .btnExel:hover{border:1px solid #4067de;color:#222222;}

/* 버튼 영역 */
.btnArea{margin-top:15px;text-align: center;}
.btnArea.txt-right{text-align: right;}
.btnArea.txt-left{text-align: left;}
.btnArea .right{flota:right;}
.btnArea .left{flota:left;}
.btnArea button, .btnArea a{display: inline-block;width:120px;height:44px;margin:0 3px;line-height:43px;background:#5b5b5b;color:#fff;font-size:16px;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;border-radius:3px;}
.btnArea .grayType{background: #5b5b5b;}
.btnArea .blueType{background: #4067de;}
.btnArea .whiteType{background: #fbfcfd;border:1px solid #858992;box-sizing: border-box;color:#454545;}
.btnArea .lightGrayType{background: #a0a7b4;}
.btnArea .deepGrayType{background: #5b5b5b;}
button.inquiry {display: inline-block; width: 63px; height: 36px; margin-left: 7px; border-radius: 2px; border: solid 1px #a1a5aa; font-size: 14px; background: #b5bdc6; color: #ffffff;}

/* 페이지네이션 */
.pagination{text-align: center;}
.pagination button, .pagination a{display: inline-block;width:32px;height:32px;text-align: center;line-height:31px;color:#666666;vertical-align:top;}
.pagination button.btnFirst{background: url("../images/common/btn-pageFirst.png") no-repeat center center;}
.pagination button.btnPrev{background: url("../images/common/btn-pagePrev.png") no-repeat center center;}
.pagination button.btnNext{background: url("../images/common/btn-pageNext.png") no-repeat center center;}
.pagination button.btnLast{background: url("../images/common/btn-pageLast.png") no-repeat center center;}
.pagination a:hover,.pagination a.active{background:#4067de;color:#fff;border-radius:50%;}

/* 버튼 + 페이지네이션 정렬*/
.pageBtn{position:relative;margin-top:18px;}
.pageBtn .pagination{float:left;margin-top:7px;}
.pageBtn .btnArea{float:right;margin-top:0;}
.pageBtn .btnArea button, .pageBtn .btnArea a{width:85px;height:44px;font-size:15px;}
.pageBtn.type2 .pagination{float:none;}
.pageBtn.type2 .btnArea{float:none;position:absolute;top:-5px;right:0;}

    /* 오른쪽 퀵 메뉴 */
aside{position:fixed;top:0;right:0;width:58px;height:100%;z-index:20;background:#2c419f;}
aside .userInfo{position:relative;margin-top:30px;color:#fff;text-align: center;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;font-size:12px;}
aside .userInfo .person{display:block;width:38px;height:39px;margin:0 auto 3px;background: url("../images/common/bg-person.png");border-radius:50%;}
aside .userTooltip{position: absolute;top:0;left:-160px;width:130px;padding:17px 15px;background: #fff;border-radius:5px;box-shadow:0px 0px 5px #2b2b2b;color:#787878;font-size:13px;color:#787878;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
aside .userTooltip p{float:left;}
aside .userTooltip span{float:left;}
aside .userTooltip li{margin-top:10px;padding-left:20px;line-height:20px;}
aside .userTooltip li:first-child{margin-top:0;}
aside .userTooltip li:after{content: "";display: block;clear: both;}
aside .userTooltip li.team{background: url("../images/common/ico-person.png") no-repeat 2px 3px;}
aside .userTooltip li.time{background: url("../images/common/ico-time.png") no-repeat left 3px;}
aside .userTooltip li.logout{background: url("../images/common/ico-logout.png") no-repeat 2px 3px;}
aside .userTooltip li.logout:hover{background: url("../images/common/ico-logout-hover.png") no-repeat 2px 3px;}
aside .alarm{position:relative;width:19px;height:25px;margin:54px auto 0;background: url("../images/common/ico-bell.png")}
aside .alarm span{position: absolute;top:-2px;right:-10px;display: block;width:16px;height:16px;background: #f44040;color:#fff;text-align: center;line-height:16px;border-radius:50%;}
aside .menu{display: block;width:20px;height:20px;margin:33px auto 0;background: url("../images/common/ico-menu.png") no-repeat center center;}

/* etc */
.txtInfo{background: #f2f5fb;font-size:12px;color:#82879f;padding:8px 13px;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;}
.txtInfo p:before{content: "";display: inline-block;width:15px;height:15px;margin:-3px 5px 0 0;background: url("../images/common/ico-caution.png") no-repeat;vertical-align:middle;}
.txtInfo2{position: absolute;top:6px;right:0;font-family: "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;color:#686868;font-size:12px;}
.toolBox{position: relative;height:32px;margin-top:24px;}
.toolBox + .border{margin-top:9px;}
.redDot{display: inline-block;width:5px;height:5px;margin:-3px 5px 0 0;background:#eb5050;vertical-align: middle;border-radius:50%;}
.unit{float:left;margin:0 5px;line-height:38px;}
.txtBlue{color:#3662e5;}
.txtGray{color:#888888;}
.bold{font-weight:bold;}



