.popup{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;}
.popup .overlay{width:100%;height:100%;background: rgba(0,0,0,0.75)}
.popup .popupBox{position:absolute;left:calc(50% - 440px);top:182px;width:880px;background: #fff;border-radius: 2px; box-shadow: 0 0 13px 6px rgba(0,0,0,0.2);}
.popup .popupHead{padding:11px 0 8px 0;}
.popup .popupHead .titPopup{display:inline-block; height:37px;line-height:41px;padding-left:45px; font-size:21px;
    background:url('../images/popup/ico-popuptit.png') no-repeat 10px 10px; border-left: 8px solid #4067de;}
.popup .popupMain{margin-top:8px; padding:48px 20px; border-top:1px solid #e1e2e5;}
.popup .popupMain .btnRefresh{position:absolute;right:20px;top:10px;width:85px;height:30px;line-height:30px;padding-left:28px;font-size:13px;text-align:left;
    background:url('../images/popup/ico-refresh.png')no-repeat 10px center; border:1px solid #afb1b8; border-radius: 2px;}
.popup .popupMain .btnRefresh:hover{color:#3c5ed2;border-color:#3c5ed2;background:url('../images/popup/ico-refresh-hover.png')no-repeat 10px center;}
.popup .btnClose{position: absolute;right:20px;top:20px;}