.popup.winPopup{position:static;width:100%;height:100%; }
.popup.winPopup .popupBox{position:static;width:100%;height:100%;box-shadow: none;}
.popup.winPopup .popupHead .titPopup{padding-left:15px;background:none;}
.popup.winPopup .titleArea{margin-top:0;}
.popup.winPopup .titleArea b{float:left;line-height:26px;font-size:14px;}
.popup.winPopup .titleArea strong{padding-left:27px;font-size:18px;background:url('../images/bullet/bullet-circle.png')no-repeat left 10px;}
.popup.winPopup .tab li{width:20%;}
.popup.winPopup .popupMain{padding:20px;}
.popup.winPopup .searchBox.type2{padding:15px 20px; margin:17px 0 23px}
.popup.winPopup .searchBox.type2 input[type="text"]{width:calc(100% - 181px); margin-right:4px; }
.popup.winPopup .table td textarea{width:100%;height:105px;border:1px solid #cdd2d9;resize: none;}